

@function fn($px){
    @return $px/37.5*1rem;
}

.FenLeiTop{
    overflow: hidden;
    h3{
        height:fn(30);
        line-height: fn(30);
        padding-left:fn(20);  
        color:555;
        font-size: fn(14);    
    }
    .logo{
        float: left;
        margin-left:fn(20);
        margin-right: fn(20);
        margin-bottom:fn(20);   
        img{
            display: block;
            width:fn(83.5);
            height:fn(32);
            box-shadow:fn(0) fn(0) fn(10) rgba(5,5,5,0.1);
        }
    }
}

.FenLeiBottom{
    overflow: hidden;
    h3{
       height:fn(30);
        line-height: fn(30);
        padding-left:fn(20); 
        color:555;
        font-size: fn(14);   
    }
    .divfenlei{
        overflow: hidden;
        .fenlei{
            width:fn(110);
            height:fn(50);
            background:ghostwhite;
            text-align: center;
            line-height: fn(30);
            float: left;
            display: block;
            margin:0 auto;
            border-right:1px solid #dadada;
            border-bottom:1px solid #dadada;
            color:darkcyan;
            border-radius: fn(5);
            margin: fn(10);
            margin-bottom: 0;
            text-align: center;
            line-height: fn(50);
        }    
    }
}









