@function fn($px){
    @return $px/37.5*1rem;
}

.login{
    width:100%;
    height:100%;
    .login-logo{
        width:100%;
        padding:fn(20) fn(20);
        img{
            display: block;
            width:fn(70);
        }
    }
    .login_user_left{
        display: block;
        width:fn(240);
        height:fn(36);
        border:1px solid #dadada ;
        background:#fff;
        margin:fn(10) auto;
        padding:0 fn(10);
        box-sizing:border-box;
    }
    .login_user_onfocus{
        display: block;
        width:fn(240);
        height:fn(36);
        background:#fff;
        margin:fn(10) auto;
        padding:0 fn(10);
        box-sizing:border-box;
        box-shadow: fn(0) fn(0) fn(5) green;
    }
    .login_btn_left{
        width:fn(50);
        height:fn(30);
        display: block;
        margin:fn(10) auto;
        background:lightcyan;
        border:1px solid #dadada; 
    }
    .login_btn_onfocus{
        width:fn(50);
        height:fn(30);
        display: block;
        margin:fn(10) auto;
        background:lightcyan;
        box-shadow: fn(0) fn(0) fn(5) green;
    }
    .TextStyle{
        color:red;
        margin:auto;
        width:fn(240);
        font-size: fn(14);
        line-height: fn(20);
    }
}












